:root {
  --main-color: #291313;
  --secondary-color: #b4ccc2;
  --card-header-color: #9b9b9b;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  width: 100%;
  background-color: var(--secondary-color);
}

nav {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  background-color: var(--main-color);
  height: 125px;
}

#nav-links > * {
  margin: 0 10px;
  background: none;
  border: none;
  text-decoration: none;
  color: white;
  font-size: 100%;
}

#logout:hover {
  cursor: pointer;
}

nav h1 {
  display: inline-block;
  margin: 0 10px;
  background-color: var(--secondary-color);
  padding: 10px;
  color: #291313;
  border-radius: 5px;
  box-shadow: 5px 5px var(--card-header-color);
}

main {
  max-width: 1000px;
  margin: 0 auto;
}

.card {
  margin: 20px 0;
  border: 3px solid var(--main-color);
}

#post-link {
  text-decoration: none;
  color: black;
}

.card > * {
  padding: 10px 20px;
}

.card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  background-color: var(--main-color);
  color: var(--card-header-color);
}

.card-content {
  min-height: 75px;
}

.form-group {
  display: flex;
  flex-direction: column;
  margin: 10px 0;
}

.form-group > * {
  margin: 2px 0;
}

.form-input {
  height: 30px;
}

#signup-link,
#login-link {
  display: contents;
  color: black;
}

.post-group {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--card-header-color);
  height: 50px;
  border-radius: 5px;
  padding: 0 10px;
  margin: 10px 0;
}

.hidden {
  display: none;
}

#newpost {
  background-color: var(--main-color);
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 150%;
  width: 200px;
  height: 75px;
}

#newpost:hover {
  cursor: pointer;
}

.post-form {
  display: flex;
  flex-direction: column;
}

.post-form > * {
  margin: 5px 0;

}

#form-title {
  resize: none;
  height: 40px;
  padding: 10px;
}

#form-content {
  resize: none;
  height: 100px;
  padding: 10px;
}

.submit-btn {
  height: 50px;
  border-radius: 10px;
  border: none;
  background-color: var(--card-header-color);
  font-size: 125%;
}

.submit-btn:hover {
  cursor: pointer;
}