<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>The Tech Blog</title>
  <link rel="stylesheet" href="./style.css"/>
</head>
<body>
  <nav>
    <div id="nav-links">
      <a href="/" id="home-link">Home</a>
      <a href="/dashboard" id="dashboard-link">Dashboard</a>
      <a href="/login" id="login-link">Login</a>
      <button id="logout">Logout</button>
    </div>
    <div id="title">
      <h1>The Tech Blog</h1>
    </div>
  </nav>
  <main>
    <div class="posts">
      <section class="card">
        <a href="/post/id">
          <div class="card-header">
            <h3 class="post-title">Post Title</h3>
            <div class="post-date">Posted by johnsmith123 on 8/9/2023</div>
          </div>
          <p class="post-content">Lorem ipsum dolor sit amet consectetur adipisicing elit. 
            Alias nostrum officia provident unde consequuntur eaque ratione mollitia sunt 
            quae vero velit aliquid quibusdam neque molestiae, iure quia nulla blanditiis 
            totam.
          </p>
        </a>
      </section>
    </div>
  </main>
</body>
</html>